<!doctype html>
<html>
<head>
	<title>MMP 460</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{site.github.url}}/slides/slides.css" type="text/css" />
	<link rel="stylesheet" href="{{site.github.url}}/slides/highlight/github-gist.css" type="text/css" />
	<script src="{{site.github.url}}/slides/lib/jquery-1.12.3.min.js"></script>
	<script src="{{site.github.url}}/slides/highlight/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<script src="{{site.github.url}}/slides/lib/cool.js"></script>
	<script src="{{site.github.url}}/slides/lib/p5.min.js"></script>
	<script src="{{site.github.url}}/slides/bkg.js"></script>
	<script src="{{site.github.url}}/slides/lib/mobile-check.js"></script>
	<script src="{{site.github.url}}/slides/slides.js"></script>
</head>
<body>
	<div id="container" class="slides">
		{{ content }}
	</div>
</body>  
</html>  